body{
    background-color: white;
    font-family: 'Inter', sans-serif;
}

main{
    height: 300px;
}

article{
    height: 400px;
    background-color: #6c757d;
}

#trackerCard {
    margin: 150px;
    padding: 10px;
}

.btn-success{
    padding: 10px;
}

td{
    cursor: pointer;
}

th {
    font-weight: normal;
}

.table > :not(:first-child) {
    border-top: 1px solid currentcolor;
}

