body{
    background-color: #f6f6f6;
    font-family: 'Inter', sans-serif;
}

main{
    height: 300px;
}

article{
    padding: 6% 20%;
}

#trackerCard {
    padding: 10px;
    border-radius: 15px;
}

.btn-success{
    padding: 10px;
    margin: 10px 0;
}

td{
    cursor: pointer;
}

th {
    font-weight: normal;
    border: 1px solid #ccc;
}

.table-bordered>:not(caption)>*>*{
    border-width: 1px;
}

tbody, td, tfoot, thead, tr, .table > :not(:first-child){
    border: none;
}

nav {
    background-color: #f6f6f6;
}

#habit-list{
    height: 40vh;
    overflow: auto;
    background-color: white;
}

.form-check.form-switch > span {
    margin-right: 2.5em;

}

.form-check .form-check-input{
    float: none;
}

#login-form .form-label{
    text-align: right;
    width: 100px;
}

#login-form > div {
    padding: 5px;
}

.form-label{
    margin-top: 0.5rem;
}

.card-body span {
    width: 30%;
    display: inline-block;
}

#delete-btn {
    position: absolute;
    right: 26px;
    top: 16px;
}

#update-prog-input {
    border: none;
    padding: 3px;
    padding-right: 5px;
    width: 0;
    text-align: right;
}

#update-prog-input:focus {
    outline: 1px solid #ccc;
}
